<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            {% for i in 1..16 %}
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ path('cat', {id: i}) }}">Cat {{ i }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</nav>
